{% extends 'base.html' %}

{% block content %}

<div class="container pt-30">
		<div class="section">
			<div class="row">
				<div class="col s12">

					<form method="POST">
						{% csrf_token %}


						<div class="row">
							<div class="col m6 s12">
								<label>Имя</label>
								{{ form.user_name }}
								{% for error in form.errors.first_name %}
									<p class="error">{{ error }}</p>
								{% endfor %}
							</div>
							<div class="col m6 s12">
								<label>Фамилия</label>
								{{ form.user_surname }}
								{% for error in form.errors.last_name %}
									<p class="error">{{ error }}</p>
								{% endfor %}
							</div>
						</div>

						<div class="row">
							<div class="col m6 s12">
								<label>Email</label>
								{{ form.email }}
								{% for error in form.errors.email %}
									<p class="error">{{ error }}</p>
								{% endfor %}
							</div>
						</div>

                    <div class="row">
							<div class="col m6 s12">
                                <label>Аватар</label>
								{{ form.user_avatar }}
								{% for error in form.errors.image %}
									<p class="error">{{ error }}</p>
								{% endfor %}
							</div>
                            <div class="col m6 s12">
                                <label>Пол</label>
                                {{ form.user_sex }}
                                <p class="error">{{ error }}</p>
                            </div>
                    </div>


                    <div class="row">
                        <div class="col m7 s12">
                            <label>Пароль</label>
                            {{ form.password1 }}
                            {% for error in form.errors.password1 %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="col m7 s12">
                            <label>Подтвердите пароль</label>
                            {{ form.password2 }}
                            {% for error in form.errors.password2 %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m7 s12">
                            <label>О себе</label>
                            {{ form.about }}
                            <p class="error">{{ error }}</p>
                    <div class="row">
                        <div class="row">
                            <div class="col m6 s12">
                                <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
                            </div>
                            <div class="col m6 s12">
                                <button onclick="location.href='api/clients/login'" class="btn btn-primary" type="button">Войти</button>
                            </div>
                        </div>
                    </div>
						</div>
						<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
						<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
						<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

						<link rel="stylesheet"
						      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
						<link rel="stylesheet"
						      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
                    </form>

				</div>
			</div>
		</div>
	</div>
		</div>
	</div>


	<style>
        .error {
            color: red;
        }
	</style>



{% endblock %}